{{> header}}
{{> sidepanel}}
            <div class="col-md-9 main">
                <h2>
                    Buat Akun Admin
                </h2>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <form id="form1" method="POST" action="/submit">
                          <div class="form-group">
                              <label for="username">Username:</label>
                              <input type="text" class="form-control" name="username" id="username">
                          </div>
                          <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                          <button form="form1" type="submit" class="btn btn-default">Submit</button>
                      </form>
                    </div>
            <script>
              $('#form1').on('submit', function (e) {
                    e.preventDefault();
                    $.ajax({
                      type: 'POST',
                      url: '/createadmin',
                      data: $('#form1').serialize(),
                      success: function (res) {
                        if(res.status == 200){
                          alert('Sukses');
                          location.reload();
                        }
                        else{
                          alert("Username sudah digunakan");
                        }
                      }
                    });
              });
            </script>
    </body>
</html>